{% extends 'main.html'%}
{% load i18n %}

{% load static %}

{% block title_page %}
<title>Title</title>
{% endblock title_page %}
{% block content %}
<head>
        <style>
   .stroke {
    font: 2em Arial, sans-serif;
    text-shadow: red 0 0 2px;
   }
  </style>
</head>

  <!-- ======= Hero Section ======= -->
{#<div class="intro">#}
{#    <div class="video">#}
{#        <video class="video__media" src="{% static '1.mp4' %}" autoplay muted loop></video>#}
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">

      <h1>{% trans 'Добро пожаловать в LevadaDieselService'%}</h1>
      <h2> {% trans 'Мы предлагаем широкий спектр ТНВД, радиальных насосов, дизельных форсунок.'%}</h2>

{#      <a href="#team" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>#}
        <div class="box pb-22" >

        <!-- тема warning -->
            <a href="{% url 'contact' %}" class="btn btn-warning btn-lg mr-3">{% trans 'О Компании' %}</a>
        <!-- тема info -->
        <a href="{% url 'shop' %}" class="btn btn-info btn-lg ml-3">{% trans 'В Магазин'%}</a>
            {% get_current_language as LANGUAGE_CODE %}
            <h4>{{ LANGUAGE_CODE }}</h4>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <select name="language" id="">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{%   if language.code == LANGUAGE_CODE %} selected
                        {% endif %}>
                        {{ language.name_local }}({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            <input class="btn btn-danger btn-sm " type="submit" value="{% trans 'Выбрать' %}">
{#            <button class="btn btn-primary btn-sm " type="submit" value={%  trans 'Подтвердить'%}></button>#}
            </form>





        </div>

    </div>
  </section><!-- End Hero -->
{##}
{#  <main id="main">#}
{##}
{##}
{#  </main><!-- End #main -->#}
</div>
</div>

{% endblock content%}



