{% load i18n %}
<html>
<body>

<h2 align="center">{% trans 'ИНФОРМАЦИОННОЕ ПОЛОЖЕНИЕ'%}
LEVADADIESEL PL {% trans 'Общество с ограниченной ответственностью'%}</h2>
<p align="justify">  {% trans 'В соответствии с Регламентом (ЕС) 2016/679 Европейского парламента и Совета от 27 апреля 2016 года. Что касается защиты физических лиц в отношении обработки персональных данных и свободного перемещения таких данных («GDPR») и отмены Директивы 95/46 / EC, мы информируем вас о том, что:'%}
</p>
<p align="justify">{% trans '1.Администратором ваших данных является LEVADIESEL PL sp.z o.o. со штаб-квартирой в 37-300 Leżajsk ul. Tomasza Michałka 33, внесен в Реестр предпринимателей Национального судебного реестра под номером 0000533982.'%}</p>
<p align="justify">{% trans '2. Ваши личные данные будут обработаны с целью выставления счета-фактуры и надлежащего выполнения бухгалтерских и налоговых обязательств компанией LEVADADIESEL PL sp.z o.o.; Для получения дополнительной информации относительно обработки данных нами, вы можете связаться с нами по адресу slevada@gmail.com или письменно по адресу нашего офиса, указанному в пункте 1.'%}</p>

<p align="justify"><strong>{% trans '3. Получатели данных.'%}   </strong></p>
<p>{% trans 'Только лица, уполномоченные LEVADADIESEL PL, будут иметь доступ к вашим данным: наши сотрудники и бухгалтерия "Euro-Consult" Sp. Z O.O. операционные ИТ-системы, в которых обрабатываются личные данные, связанные с выставлением счетов.'%}</p>

<p align="justify">{% trans '4. Правовой основой для обработки данных является выполнение юридического обязательства, возложенного на Администратора, с указанием объема данных, которые должны быть включены в счет-фактуру.'%}</p>

<p align="justify">{% trans '5. Предоставление данных является добровольным, но необходимо для выставления счета. Если данные не предоставлены, договор не может быть заключен.'%}</p>

<p align="justify">{% trans '6.  Ваши данные будут храниться в течение 5 лет с конца года, в котором был выставлен счет.'%}</p>

<p align="justify">{% trans '7. Вы имеете право:'%}<p/>
<p align="center">{% trans '•  запрашивать доступ к персональным данным, исправление, удаление или ограничение обработки персональных данных;'%}</p>
<p align="center">{% trans '• а также право возражать против обработки и передачи данных;'%}<p/>
   <p align="center">{% trans '• подача жалобы Начальнику Управления по защите персональных данных относительно обработки нами ваших персональных данных.'%}</p>

<p align="justify">{% trans '8. Ваши данные не будут использоваться для профилирования или принятия автоматических решений.'%}</p>

<td><a href="{% url 'shop' %}"
                       class="btn btn-warning btn-lg mb-2 ml-3">{% trans 'Вернуться в магазин' %}</a></td>
                <td colspan="2" class="hidden-xs"></td>



</body>
</html>