{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title_page %}
    <title xmlns:text-align="http://www.w3.org/1999/xhtml">{% trans 'Магазин'%}</title>
{% endblock %}
{% block content %}
<div style=" background-color: #ECF6CE;">
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>{% trans 'Магазин'%}</h2>
                <p>{% trans 'LEVADIESEL PL sp. Z o.o. предоставляет полный комплекс услуг в области ремонта топливных систем дизельных двигателей. Наша компания специализируется на регенерации форсунок и ТНВД всех производителей. Многолетний опыт и знания означают, что мы предоставляем услуги на самом высоком уровне, что подтверждают наши довольные клиенты. Благодаря высокому качеству оборудования BOSCH, наши ремонтные работы выполняются с высокой точностью, документируются распечатками, что дает 12-месячную гарантию.'%}
                </p>
            </div>

            <form class="form-inline pb-4 mb-1" role="search" action="{% url 'search' %}" method="get">
                <h3>{% trans 'Пример ввода номера форсунки:'%}</h3>
                <div class="col-auto mb-2">
                    <input type="search" class="form-control form-control-lg" id="inlineFormInput" name="q"
                           placeholder="0445110520">
                </div>
                <button type="submit" class="btn btn-primary mb-2 btn-lg ">{% trans 'Поиск'%}</button>
            </form>


            <div class="row " data-aos="fade-in">
                <div class="col-lg-5 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="" class="filter-active">{% trans 'Все'%}</li>
                        <li data-filter=".filter-denso">Denso</li>
                        <li data-filter=".filter-delphi">Delphi</li>
                        <li data-filter=".filter-siemens">Siemens</li>
                        <li data-filter=".filter-bosch">Bosch</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                {% for post in pr %}
                {% if post.active %}
                    {% if post.name == 'BOSCH' %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-bosch">
                            <div class="card">
                                <div class="view overlay">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url }}"
                                             class="card-img-top"
                                             alt=""></a>

                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="" class="grey-text">
                                        <h5>{{ post.name }}</h5>
                                    </a>
                                    <h4>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.number }}</a>
                                        </strong>
                                    </h4>
                                     <h6>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.description|truncatechars_html:125 }}</a>
                                        </strong>
                                    </h6>
                                    <h4 class="font-weight-bold blue-text">
                                        <strong>{{ post.price }} zł</strong>
                                    </h4>
                                    <div style=" text-align:center">
                                          <a href="{{ post.get_absolute_url }}"
                                            class="good-item__btn-add btn btn-success btn-lg js-add-to-cart "
                                                data-id="" data-name="" data-price="">{% trans 'Добавить в корзину'%}
                                            <i class="fas fa-shopping-cart ml-1"></i>
                                          </a>

                                    </div>
                                </div>

                            </div>
                        </div>


                    {% elif post.name == 'DELPHI' %}
                        {#                            {% for post in object_list %}#}
                        <div class="col-lg-4 col-md-6  portfolio-item filter-delphi">
                            <div class="card">
                                <div class="view overlay">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url }}"
                                             class="card-img-top"
                                             alt=""></a>

                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="" class="grey-text">
                                        <h5>{{ post.name }}</h5>
                                    </a>
                                    <h4>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.number }}</a>
                                        </strong>
                                    </h4>
                                      <h6>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.description|truncatechars_html:125 }}</a>
                                        </strong>
                                    </h6>
                                    <h4 class="font-weight-bold blue-text">
                                        <strong>{{ post.price }} zł</strong>
                                    </h4>
                                     <div style=" text-align:center">
                                          <a href="{{ post.get_absolute_url }}"
                                            class="good-item__btn-add btn btn-success btn-lg js-add-to-cart "
                                                data-id="" data-name="" data-price="">{% trans 'Добавить в корзину'%}
                                            <i class="fas fa-shopping-cart ml-1"></i>
                                          </a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    {% elif post.name == 'DENSO' %}
                        <div class="col-lg-4 col-md-6  portfolio-item filter-denso">
                            <div class="card">
                                <div class="view overlay">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url }}"
                                             class="card-img-top"
                                             alt=""></a>

                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="" class="grey-text">
                                        <h5>{{ post.name }}</h5>
                                    </a>
                                    <h4>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.number }}</a>
                                        </strong>
                                    </h4>
                                      <h6>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.description|truncatechars_html:125 }}</a>
                                        </strong>
                                    </h6>
                                    <h4 class="font-weight-bold blue-text">
                                        <strong>{{ post.price }} zł</strong>
                                    </h4>
                                     <div style=" text-align:center">
                                          <a href="{{ post.get_absolute_url }}"
                                            class="good-item__btn-add btn btn-success btn-lg js-add-to-cart "
                                                data-id="" data-name="" data-price="">{% trans 'Добавить в корзину'%}
                                            <i class="fas fa-shopping-cart ml-1"></i>
                                          </a>

                                    </div>
                                </div>

                            </div>
                        </div>

                    {% elif post.name == 'SIEMENS' %}
                        <div class="col-lg-4 col-md-6  portfolio-item filter-siemens">
                            <div class="card">
                                <div class="view overlay">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url }}"
                                             class="card-img-top"
                                             alt=""></a>

                                    <div class="mask rgba-white-slight"></div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="" class="grey-text">
                                        <h5>{{ post.name }}</h5>
                                    </a>
                                    <h4>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.number }}</a>
                                        </strong>
                                    </h4>
                                      <h6>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.description|truncatechars_html:125 }}</a>
                                        </strong>
                                    </h6>
                                    <h4 class="font-weight-bold blue-text">
                                        <strong>{{ post.price }} zł</strong>
                                    </h4>
                                      <div style=" text-align:center">
                                          <a href="{{ post.get_absolute_url }}"
                                            class="good-item__btn-add btn btn-success btn-lg js-add-to-cart "
                                                data-id="" data-name="" data-price="">{% trans 'Добавить в корзину'%}
                                            <i class="fas fa-shopping-cart ml-1"></i>
                                          </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}

                {% else %}
                    <div class="col-lg-4 col-md-6  portfolio-item ">
                        <div class="card">
                            <div class="view overlay">
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{%  static 'img/noimage.jpg'%}"
                                         class="card-img-top"

                                         alt=""></a>

                                <div class="mask rgba-white-slight"></div>
                            </div>
                            <div class="card-body text-center">
                                <a href="" class="grey-text">
                                    <h5>{{ post.name }}</h5>
                                </a>
                                <h4>
                                    <strong>
                                        <a href="" class="dark-grey-text">{{ post.number }}</a>
                                    </strong>
                                </h4>
                                  <h6>
                                        <strong>
                                            <a href="" class="dark-grey-text">{{ post.description|truncatechars_html:125 }}</a>
                                        </strong>
                                    </h6>
                                <h4 class="font-weight-bold blue-text">
                                    <strong>{{ post.price }} zł</strong>
                                </h4>
                                <div style=" text-align:center">
                                    <button
                                            class="good-item__btn-add btn btn-success btn-lg js-add-to-cart"
                                            data-id="" data-name="" data-price="">{% trans 'Добавить в корзину '%}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}


                {% endfor %}
            </div>
        </div>

    </section>
</div>
{% endblock content %}
